.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a { text-decoration: none;}
/* Header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.header .row {
  align-items: center;
  justify-content: space-around;
}
.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .inner-menu > ul {
  display: flex;
  flex-wrap: wrap;
}
.header .inner-menu a {
  text-decoration: none;
  margin-right: 10px;
}
/* End Header */

/* Box head */
.box-head .inner-title {
  color: rgb(0, 145, 0);
}
/* End Box head */

/* Main */
.main {
  padding: 10px 0;
  flex: 1;
}
/* End Main */

/* Products */
.product-item {
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-item .inner-image {
  position: relative;
}
.product-item .inner-image .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}
.product-item .inner-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4/3;
}
.product-item .inner-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.product-item .inner-content .inner-title {
  text-align: center;
  margin: 5px 0;
}
.product-item .inner-content .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 20px;
}
.product-item .inner-content .inner-price-old {
  color: red;
  text-decoration: line-through;
}
.product-item .inner-content .inner-discount {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  background-color: red;
  border-radius: 8px;
  font-weight: 600;
  color: white;
}
/* End Products */

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* End Footer */

/* Sub menu */
.sub-menu {
  position: relative;
  z-index: 999;
}
.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
  transition: .4s ease;
}
.sub-menu ul li {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
  transition: .4s ease;
}
.sub-menu:hover > ul {
  display: block;
}
.sub-menu ul li ul {
  right: 100%;
  top: 0;
}
.sub-menu ul li:hover > ul {
  display: block;
}
/* End Sub menu */

/* product-detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #fff;
  background: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-stock {
  margin-bottom: 10px;
}

.product-detail .inner-stock span {
  color: #fff;
  background: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}
/* End Product Detail */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}
[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background-color: #ffffffc4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */