mixin filter-status(filterStatus)
  .btn-group.mt-2(role="group")
    each item in filterStatus
      button(
        class=`btn btn-sm ms-1 btn-outline-success ${item.class}`
        button-status=item.status
      ) #{item.name}